.App {
  text-align: center;
}

.staff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.staffLine {
  padding-bottom: 15px;
}

.staffBox {
  opacity: 0;
}

.staffBox:hover {
  opacity: 0.2;
}

.highlighted {
  opacity: 0.3;
}

.selected {
  opacity: 0.3;
}
